body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 420px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 7px 22px;
  background-color: #337ab7;
  border-style: none;
  color: #fdffff;
}
input {
  height: 27px;
}